
.drydockpanel {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 177px;
  height: 300px;
  border: 1px solid #7d7c7c59;
  background: #272626bd;
  border-radius: 5px;
  padding: 4px;
}

.drydockbox {
  padding: 2px;
}

.drydockbox p {
  margin: 2px;
  color: #b7b687;
  font-size: 8pt;
  font-family: Verdana;
}

.drydockconstrictor {
  padding-left: 9px;
  padding-right: 9px;
}

.button {
  backface-visibility: hidden;
  position: relative;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  background: linear-gradient(0deg,#303030 0%,#3d3d3d 50%,#474747 100%);
  border-radius: 3px;
  border: 1px solid #222;
  border-width: 1px 1px 1px 1px;
  padding: 2px 10px 2px 10px;
    color: #fffced;
  font-size: 12px;
  font-family: Verdana;
  font-weight: 900;
  font-style: normal
}

.button > div {
  color: #ddd;
  font-size: 10px;
  font-family: Helvetica Neue;
  font-weight: initial;
  font-style: normal;
  text-align: center;
  margin: 0px 0px 0px 0px
}

.button > i {
  font-size: 1em;
  border-radius: 0px;
  border: 0px solid transparent;
  border-width: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  position: static
}

.button > .ld {
  font-size: initial
}

.rc-slider-rail {
  position: absolute;
  width: 100%;
  background-color: #464545;
  height: 4px;
  border-radius: 6px;
}

.rc-slider-handle {
  position: absolute;
  width: 14px;
  height: 14px;
  cursor: pointer;
  cursor: -webkit-grab;
  margin-top: -5px;
  cursor: grab;
  border-radius: 50%;
  border: solid 2px #6d6c6c;
  background-color: #232323;
  -ms-touch-action: pan-x;
  touch-action: pan-x;
}

.rc-slider-handle:focus {
  border-color: #57c5f7;
  box-shadow: 0 0 0 0px #96dbfa;
  outline: none;
}
